<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>CODFOD INC.</title>

    <!-- Basic SEO -->
    <meta name="description" content="Creative website development with html5, css3, jQuery & bootstrap framework">
    <meta name="keywords" content="HTML5, CSS3, JQuery, Bootstrap, Web Design, Web Development, Responsive website, Creative website">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">
    <script defer src="{% static js/fontawesome/all.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.default.min.css' %}">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive-tabs/responsive-tabs.min.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup/magnific-popup.min.css' %}">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate/animate.min.css' %}">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Custom CSS -->
    <head><link rel="stylesheet" href="{% static 'css/style.css' %}"></head>


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="65">

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>


    <!-- header -->
    <header>

        <nav class="navbar navbar-fixed-top">

            <div class="container-fluid">

                <div class="site-nav-wrapper">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vesco-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                       </button>

                        <a class="navbar-brand smooth-scroll" href="#home">
                           <img src="img/favicon.png" alt="logo">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a class="smooth-scroll" href="#home">Home</a></li>
                            <li><a class="smooth-scroll" href="#codeflow">CodeFlow</a></li>
                            <li><a class="smooth-scroll" href="#portfolio">Video Lectures</a></li>
                            <li><a class="smooth-scroll" href="#testimonials">Projects</a></li>
                            <li><a class="smooth-scroll" href="#material">Study Material</a></li>
                            <li><a class="smooth-scroll" href="#blog">Blog</a></li>
                            <li><a class="smooth-scroll" href="#pricing">FAQ</a></li>
                            <li><a class="smooth-scroll" href="#about">Interivew Tips</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </nav>

    </header>

    <!-- Home -->
    <section id="home">

        <div id="out" class="bg-parallax">
            <div id="in">
                <div id="home-content-box">

                <div id="home-content-box-inner" class="text-center">

                    <div id="home-heading">
                        <h1>Welcome To <span>Codfod</span></h1>
                    </div>
                    <h1>
                      <a href="" class="typewrite" data-period="2000" >
                        <span class="wrap"></span>
                      </a>
                    </h1>
                   <div id="home-btn">
                    <a class="btn btn-general btn-home smooth-scroll" href="" title="Start Now" role="button">Start Now</a>
                </div>

                </div>

            </div>
            </div>
        </div>

    </section>

    <!-- codeflow -->
    <section id="codeflow">
        <div class="content-box-lg">
            <div class="horizontal-heading text-center">
                <h5>How It Works</h5>
                    <h2><strong>Code</strong> Flow</h2>
                    <div class="title-underline"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 text-center">
                        <img src="{% static 'img/codflow2.png' %}"  width="500" height="380" >
                    </div>
                    <div class="col-md-5 btn-right">
                         <!-- Flow 01 -->
                            <div class="steps"><a class="smooth-scroll" href="#material">
                                <div class="row">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fab fa-telegram"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>Step-1</h5>
                                        <h4>Basic Fundamentals</h4>
                                        <p>Strenthen Basic Foundation of Programmin Language</p>
                                    </div>

                                </div>
                            </a></div>
                            <!-- Flow 01 -->
                            <div class="steps"><a class="smooth-scroll" href="#pricing">
                                <div class="row">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-question-circle"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>Step-2</h5>
                                        <h4>FAQ</h4>
                                        <p>Test your Basics by practicing </p>
                                    </div>

                                </div>
                            </a></div>
                            <!-- Flow 01 -->
                            <div class="steps"><a class="smooth-scroll" href="#portfolio">
                                <div class="row">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fas fa-video"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>Step-3</h5>
                                        <h4>Vedio Lectures</h4>
                                        <p>Make a real world project from scratch</p>
                                    </div>

                                </div>
                            </a></div>
                            <!-- Flow 01 -->
                            <div class="steps"><a class="smooth-scroll" href="#">
                                <div class="row">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-diagnoses"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>Step-4</h5>
                                        <h4>Doubts Session</h4>
                                        <p>Clear Doubts and be step ahead</p>
                                    </div>

                                </div>
                            </a></div>
                            <!-- Flow 01 -->
                            <div class="steps"><a class="smooth-scroll" href="#testimonials">
                                <div class="row">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-dove"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>Step-5</h5>
                                        <h4>Practice</h4>
                                        <p>Practice to master the programming language</p>
                                    </div>

                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- vlectures -->
    <section id="portfolio">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 wow slideInLeft">

                        <div class="vertical-heading">
                            <h5>Find Out </h5>
                            <h2>Our <br>Amazing <strong>Lectures</strong></h2>
                        </div>

                    </div>

                    <div class="col-md-12">

                        <!-- Portfolio Items Filters -->
                        <div id="isotope-filters">

                            <button class="btn active" data-filter="*"><span>All</span></button>
                            <button class="btn" data-filter=".python"><span>Python</span></button>
                            <button class="btn" data-filter=".web"><span>Web</span></button>
                            <button class="btn" data-filter=".django"><span>Django</span></button>
                            

                        </div>

                    </div>

                </div>

            </div>

            <!-- Portfolio Items Wrapper -->
            <section id="portfolio-wrapper" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

                <div class="container-fluid">

                    <div class="row no-gutters">

                        <div id="isotope-container">

                            <div class="col-md-3 col-sm-6 col-xs-12 python">

                                <!-- Portfolio Item 01 -->
                                <div class="portfolio-item">

                                    <a href="{% static 'img/portfolio/001.jpg' %}" title="Add Description">
                                        <img src="{% static 'img/project/pythonart.jpg' %}" class="img-responsive" alt="portfolio 01">

                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-details text-center">

                                                <!-- Item Header -->
                                                <h3>Python</h3>

                                                <!-- Item Strips -->
                                                <span></span>

                                                <!-- Item Description -->
                                                <p>Overview</p>

                                            </div>

                                        </div>
                                    </a>

                                </div>

                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 python">
                                <!-- Portfolio Item 02 -->
                                <div class="portfolio-item">

                                    <a href="{% static 'img/portfolio/002.jpg' %}" title="Add Description">
                                        <img src="{% static 'img/project/python.png' %}" class="img-responsive" alt="portfolio 02">

                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-details text-center">

                                                <!-- Item Header -->
                                                <h3>Python</h3>

                                                <!-- Item Strips -->
                                                <span></span>

                                                <!-- Item Description -->
                                                <p>Building Blocks</p>

                                            </div>

                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 python">
                                <!-- Portfolio Item 03 -->
                                <div class="portfolio-item">

                                    <a href="{% static 'img/portfolio/003.jpg' %}" title="Add Description">
                                        <img src="{% static 'img/project/pythonfeature.jpg' %}" class="img-responsive" alt="portfolio 03">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-details text-center">
                                                <!-- Item Header -->
                                                <h3>
                                                    Python
                                                </h3>
                                                <!-- Item Strips -->
                                                <span></span>
                                                <!-- Item Description -->
                                                <p>
                                                    Python On Work
                                                </p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 django">
                                <!-- Portfolio Item 04 -->
                                <div class="portfolio-item">

                                    <a href="{% static 'img/portfolio/004.jpg' %}" title="Add Description">
                                        <img src="{% static 'img/project/djangobox.png' %}" class="img-responsive" alt="portfolio 04">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-details text-center">
                                                <!-- Item Header -->
                                                <h3>
                                                    Django
                                                </h3>
                                                <!-- Item Strips -->
                                                <span></span>
                                                <!-- Item Description -->
                                                <p>
                                                    Django Overview
                                                </p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 django">
                                <!-- Portfolio Item 05 -->
                                <div class="portfolio-item">

                                    <a href="{% static 'img/portfolio/005.jpg' %}" title="Add Description">
                                        <img src="{% static 'img/project/django.png' %}" class="img-responsive" alt="portfolio 05">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-details text-center">
                                                <!-- Item Header -->
                                                <h3>
                                                    Django
                                                </h3>
                                                <!-- Item Strips -->
                                                <span></span>
                                                <!-- Item Description -->
                                                <p>
                                                    Basic Concepts
                                                </p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 web">
                                <!-- Portfolio Item 06 -->
                                <div class="portfolio-item">

                                    <a href="{% static 'img/portfolio/006.jpg' %}" title="Add Description">
                                        <img src="{% static 'img/project/webwarrior.png' %}" class="img-responsive" alt="portfolio 06">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-details text-center">
                                                <!-- Item Header -->
                                                <h3>
                                                    Front End
                                                </h3>
                                                <!-- Item Strips -->
                                                <span></span>
                                                <!-- Item Description -->
                                                <p>
                                                    Overview
                                                </p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 web">
                                <!-- Portfolio Item 07 -->
                                <div class="portfolio-item">

                                    <a href="{% static 'img/portfolio/007.jpg' %}" title="Add Description">
                                        <img src="{% static 'img/project/webele.png' %}" class="img-responsive" alt="portfolio 07">

                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-details text-center">
                                                <!-- Item Header -->
                                                <h3>
                                                    Front End
                                                </h3>
                                                <!-- Item Strips -->
                                                <span></span>
                                                <!-- Item Description -->
                                                <p>
                                                    Concepts
                                                </p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            

                           </div>

                    </div>

                </div>

            </section>

        </div>

    </section>
    
    <!-- Projects -->
    <section id="testimonials">
        <div class="content-box-testi">

            <div class="row">

                <div class="col-md-4 col-sm-4 wow slideInLeft">

                    <div class="vertical-heading">
                        <h5>Let's do practical</h5>
                        <h2>What's Our <br><strong>Projects</strong></h2>
                    </div>

                    <div id="blog-btn">
                        <a class="btn btn-general btn-yellow" href="{% url 'view_projects' %}" title="View All Posts" role="button">View All Projects</a>
                    </div>

                </div>

                <div class="col-md-8 col-sm-8 wow fadeIn" data-wow-duration="2s">

                    <div id="testimonial-slider" class="owl-carousel owl-theme">

                        <!-- Testimonial 01 -->
                        <div class="testimonial">

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h3>Para-comando</h3>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stars text-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <p>Terminal chat app which uses python library to send secret message by encoding the message in a image. The decoding is also done by same method.</p>

                            <div class="author">

                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <img src="img/testimonial/client-1.jpg" alt="client" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-10 col-sm-3 col-xs-6">
                                        <div class="author-name-des">
                                            <p>Python</p>
                                            <p>Libraries</p>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- Testimonial 02 -->
                        <div class="testimonial">

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h3>Resume</h3>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stars text-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <p>Make your resume live on web along with pdf version of resume, pictures and much more using web framework django of python</p>

                            <div class="author">

                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <img src="img/testimonial/client-2.jpg" alt="client" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-10 col-sm-3 col-xs-6">
                                        <div class="author-name-des">
                                            <p>Python</p>
                                            <p>Django</p>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- Testimonial 03 -->
                        <div class="testimonial">

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h3>Viberr</h3>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stars text-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <p>Set creativity on sky by making beautiful music playlist website front end using HTML,CSS,JQuery</p>

                            <div class="author">

                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <img src="img/testimonial/client-3.jpg" alt="client" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-10 col-sm-3 col-xs-6">
                                        <div class="author-name-des">
                                            <p>Web Development</p>
                                            <p>HTML,CSS,JQuery</p>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    
    </section>
    
   <!-- Statement -->
    <section id="statement">
         <div id="in">
        <div class="content-box-statement">

            <div class="container">
               
                <div class="row">

                    <div class="col-md-12 wow fadeIn">
                        
                        <div id="tech-statement" class="text-center">

                            <h3><i class="fa fa-quote-left"></i>we Code we Share<br> for <br>the Future we Care <i class="fa fa-quote-right"></i> </h3>
                        </div>
                       

                    </div>

                
                 </div>
            </div>

        </div>
</div>
    </section>
    
    <!-- Statement Ends -->
    
    <!-- Study Material -->
    <section id="material">
            
        <div id="about-02">

            <div class="content-box-md">

                <div class="container">

                    <div class="row">
                        
                        <div class="horizontal-heading text-center">
                            <h5>Concepts in Writen</h5>
                                <h2>Study<strong> Material</strong></h2>
                                <div class="title-underline"></div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 wow fadeInLeft">
                            <!-- About item 01 -->
                            <a href="{% url 'material' name='Django'%}"><div class="about-item text-center">
                                <div class="move"><span style="font-size: 3em;"><i class="fa fa-eye"></i></span></div>
                                <h3>Django</h3>
                                <hr>
                                <p>Most popular Web framework of python encouraging rapid development and clean design with its high end programming features.</p>
                            </div></a>

                        </div>
                        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                            <!-- About item 02 -->
                           <a href="{% url 'material' name='Python' %}"> <div class="about-item text-center">
                                <div class="move"><span style="font-size: 3em;"><i class="fab fa-python"></i></span></div>
                                <h3>Python</h3>
                                <hr>
                                <p>Powerful High level ,object oriented programming language in third postion of highest on demand Programming Language.</p>
                            </div></a>

                        </div>
                        <div class="col-md-4 col-sm-4  wow fadeInRight">
                            <!-- About item 03 -->
                            <a href="{% url 'material' name='Web Development' %}"><div class="about-item text-center">
                                <div class="move"><span style="font-size: 3em;"><i class="fa fa-window-restore"></i></span></div>
                                <h3>Web Development</h3>
                                <hr>
                                <p>Visually appealing, creative and interactive website development one of the highest paid proffesion in freelancing</p>
                            </div></a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        </section>
        
    <!-- Blog -->
    <section id="blog">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-5 col-sm-4 wow slideInLeft">

                        <div id="blog-left">

                            <div class="vertical-heading">
                                <h5>Latest News</h5>
                                <h2>Latest<br>From <strong>Blog</strong></h2>
                            </div>
                            <p>UpToDate news of computer world from inventions through new versions to increasing applications of computer science field</p>

                            <div id="blog-btn">
                                <a class="btn btn-general btn-yellow" href="{% url 'blogall' %}" title="View All Posts" role="button">View All Posts</a>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-7 col-sm-8">

                        <div class="row wow fadeInUp" data-wow-duration="3s">

                            <div class="col-md-6 col-sm-6">

                                <!-- Blog Post 01 -->
                                <div class="blog-post">

                                    <h4>IBM debater argues like a Human</h4>
                                    <p>Project Debater is next IBM's line of AI systems. It is trying to master human speech interactions offering voice-based services such as tech support,medical consultions so on.</p>
                                    <a href="#">Read More ></a>

                                    <div class="post-meta">
                                        <div class="row">

                                            <div class="col-md-6 col-sm-8 col-xs-5">
                                                <p>Artificial Intelligence</p>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-7">
                                                <p class="text-right">JULY 22,2018</p>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">

                                <!-- Blog Post 02 -->
                                <div class="blog-post">

                                    <h4>Python 3.7 Released</h4>
                                    <p>The most important addition is the data classes .3.7 adds forward references and improves the speed of operations.Another big feature is ability to work with attributes defined on modules. </p>
                                    <a href="#">Read More ></a>

                                    <div class="post-meta">
                                        <div class="row">

                                            <div class="col-md-6 col-sm-8 col-xs-5">
                                                <p>Python</p>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-7">
                                                <p class="text-right">July 3,2018</p>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    
    <!-- FAQ -->
    <section id="pricing">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 text-center wow slideInDown">
                        <div class="horizontal-heading">
                            <h5>Question-Answers</h5>
                            <h2>FAQ</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <!-- Pricing Table 01 -->
                        <div class="pricing-table black">
                            <div class="type">
                                <h4>Django</h4>
                            </div>
                            <div class="price">

                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-8">
                                        <p>You will get all these awesome services with this great price. Get it now!</p>
                                    </div>

                                </div>

                            </div>
                            <ul class="package">
                                <li><i class="fa fa-check"></i>Python Concepts for Django</li>
                                <li><i class="fa fa-check"></i>Basic Building Blocks</li>
                                <li><i class="fa fa-check"></i>Practice Questions</li>
                            </ul>

                            <div id="pricing-btn-01">
                                <a class="btn btn-general btn-white" href="{% url 'faqview' 'Django' %}" title="Get Started" role="button">Get Started</a>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="3s">

                        <!-- Pricing Table 02 -->
                        <div class="pricing-table black">
                            <div class="type">
                                <h4>Python</h4>
                            </div>

                            <div class="price">

                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-8">
                                        <p>You will get all these awesome services with this great price. Get it now!</p>
                                    </div>

                                </div>

                            </div>
                            <ul class="package">
                                <li><i class="fa fa-check"></i>Basic Concepts</li>
                                <li><i class="fa fa-check"></i>Conceptual Problems</li>
                                <li><i class="fa fa-check"></i>Advance Practice questions</li>
                            </ul>

                            <div id="pricing-btn-02">
                                <a class="btn btn-general btn-white" href="{% url 'faqview' 'Python' %}" title="Get Started" role="button">Get Started</a>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInRight">

                        <!-- Pricing Table 03 -->
                        <div class="pricing-table black">
                            <div class="type">
                                <h4>Web Development</h4>
                            </div>

                            <div class="price">

                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-8">
                                        <p>You will get all these awesome services with this great price. Get it now!</p>
                                    </div>

                                </div>

                            </div>
                            <ul class="package">
                                <li><i class="fa fa-check"></i>HTML </li>
                                <li><i class="fa fa-check"></i>CSS </li>
                                <li><i class="fa fa-check"></i>JQuery</li>
                            </ul>

                            <div id="pricing-btn-03">
                                <a class="btn btn-general btn-white" href="{% url 'faqview' 'FrontEnd' %}" title="Get Started" role="button">Get Started</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    
    <!-- interview tips -->
    <section id="about">

        <!-- About left side with content -->
        <div class="container">

           <!-- About right side with diagonal BG parallax -->
            <div id="about-bg-diagonal" class="bg-parallax"></div>
           
            <div class="row">
                <div class="col-md-4 ">
                    
                    <div id="about-content-box">

                        <div id="about-content-box-outer">

                            <div id="about-content-box-inner">

                                <div class="vertical-heading">
                            <h5>Handy tips</h5>
                            <h2>Get <strong>Interview</strong><br> Ready</h2>
                        </div>   
                           <!-- Flow 01 -->
                            <div class="itips">
                                <div class="row"><a href="{% url 'plan' %}">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-crown"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>The Plan</h5>
                                        <h4>Correct Approach</h4>
                                        <p>Plan a strategy step ahead to crack the interview in short time</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Flow 01 -->
                            <div class="itips">
                                <div class="row"><a>

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-pen-fancy"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>Questions</h5>
                                        <h4>Aptitude</h4>
                                        <p>Clear the first tier of the interview with good score</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                             <!-- Flow 01 -->
                            <div class="itips">
                                <div class="row"><a>

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-handshake"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>Practice</h5>
                                        <h4>Soft Skills</h4>
                                        <p>Get Ready with confidence, fluent speaking skills and group discussions </p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Flow 01 -->
                            <div class="itips">
                                <div class="row"><a>

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-code"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5>Quick Rivision</h5>
                                        <h4>Technical Skills</h4>
                                        <p>Get command on programming languages and clear the basic concepts of coding</p>
                                    </div>
                                    </a>
                                </div>
                            </div>

                            </div>

                        </div>


                    </div>

                </div>
                 
            </div>

        </div>

    </section>

<!-- Footer  -->
    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Copyright &copy; 2018 All Rights Reserved By <span>CODFOD Inc.</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Back To Top -->
        <a href="#home" id="back-to-top" class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll hidden-sm hidden-xs" title="home" role="button">
            <i class="fa fa-angle-up"></i>
        </a>

    </footer>
    <!-- Footer Ends -->

    <!-- JQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- Owl Carousel JS -->
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>

    <!-- Waypoints -->
    <script src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>

    <!-- Responsive Tabs JS -->
    <script src="{% static 'js/responsive-tabs/jquery.responsiveTabs.min.js' %}"></script>

    <!-- Isotope -->
    <script src="{% static 'js/isotope/isotope.pkgd.min.js' %}"></script>

    <!-- Magnific Popup -->
    <script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Easing -->
    <script src="{% static 'js/easing/jquery.easing.1.3.min.js' %}"></script>

    <!-- WOW JS -->
    <script src="{% static 'js/wow/wow.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>

